In [1]:
import pandas as pd
import numpy as np
data1 = "1_paid_marketing.csv"
data2 = "2_hcp_data.csv"
data3 = "3_shifts_data.csv"
campaigns = pd.read_csv(data1)
hcp = pd.read_csv(data2)
shifts = pd.read_csv(data3)

In [2]:
hcp

,HCP_ID,MSA,QUALIFICATION,CREATED_AT,LICENSE_REVIEWED,ONBOARD_AT,FIRST_CLAIM_TIME,FIRST_SHIFT_TIME,LIFETIME_SHIFTS,REFERRER,CAMPAIGN_KEY
0,633be91bfb9a096b9e4d3a82,"Wichita, KS",CNA,10/5/22,10/13/22,10/29/22,11/1/22,11/21/22,2,NaN,17631861264
1,632d018f9603d7808339a6bb,"Tampa-St. Petersburg-Clearwater, FL",CNA,9/23/22,NaN,NaN,NaN,NaN,,NaN,17631861264
2,6361931a7ccb0c3b06407c33,"Scranton--Wilkes-Barre, PA",RN,11/1/22,11/1/22,NaN,NaN,NaN,,NaN,18530777721
3,62feb63c88ad3001baf3108f,"St. Louis, MO-IL",CNA,8/18/22,8/18/22,NaN,NaN,NaN,,NaN,17631861264
4,63841ac43540dfe4c2ec0996,"Cincinnati, OH-KY-IN",CNA,11/28/22,11/28/22,NaN,NaN,NaN,,NaN,18530777721
5,63713dba7ccb0c3b06b860e4,"Milwaukee-Waukesha, WI",CNA,11/13/22,11/13/22,NaN,NaN,NaN,,NaN,18530777721
6,628d687b3822a201bff6cf91,"Columbus, OH",CNA,5/24/22,NaN,NaN,NaN,NaN,,NaN,16920183767
7,63309d8c9603d780838a78aa,"Atlanta-Sandy Springs-Alpharetta, GA",LVN,9/25/22,9/26/22,9/26/22,10/10/22,10/16/22,23,NaN,17631861264
8,6374ae287ccb0c3b062e2919,"Miami-Fort Lauderdale-Pompano Beach, FL",CNA,11/16/22,11/16/22,NaN,NaN,NaN,,NaN,18530777721
9,638678383c1385547063e170,"Providence-Warwick, RI-MA",RN,11/29/22,11/29/22,12/1/22,NaN,NaN,,NaN,18661880305
10,6332f4a79603d7808372f2e7,"New York-Newark-Jersey City, NY-NJ-PA",CNA,9/27/22,9/27/22,NaN,NaN,NaN,,NaN,17631861264
11,637be77f094907a12e191fea,"Cleveland-Elyria, OH",CNA,11/21/22,11/21/22,11/22/22,NaN,NaN,,NaN,18530777721
12,62962a46b55ef101c4380265,"Oklahoma City, OK",CNA,5/31/22,5/31/22,NaN,NaN,NaN,,NaN,16920183767
13,633f6d8efb9a096b9ea2dd76,"Birmingham-Hoover, AL",CNA,10/7/22,NaN,NaN,NaN,NaN,,NaN,18995842014
14,63786af67ccb0c3b063df3b6,"Modesto, CA",CNA,11/19/22,11/19/22,11/28/22,NaN,NaN,,NaN,18672087778
15,628c9e7c33722f01c25a0063,"Oklahoma City, OK",RN,5/24/22,5/24/22,NaN,NaN,NaN,,NaN,16920183767
16,61e75e34dfb86b018a0d7cf7,"Minneapolis-St. Paul-Bloomington, MN-WI",CNA,1/19/22,5/24/22,5/24/22,6/1/22,6/3/22,49,NaN,15595984274
17,63181e2448fe0701b4c13ef6,"Milwaukee-Waukesha, WI",CNA,9/7/22,9/8/22,10/22/22,NaN,NaN,,NaN,18530777721
18,636ebd8c7ccb0c3b066a7561,"Riverside-San Bernardino-Ontario, CA",LVN,11/11/22,11/11/22,12/19/22,NaN,NaN,,NaN,18530777721
19,62304224dafae501aee7d970,"Seattle-Tacoma-Bellevue, WA",RN,3/15/22,3/15/22,NaN,NaN,NaN,,NaN,15595984274
20,6373e14e7ccb0c3b0675f8f6,"Dallas-Fort Worth-Arlington, TX",LVN,11/15/22,11/15/22,NaN,NaN,NaN,,NaN,18530777721
21,62eeaf95732de201b4992cc3,"Worcester, MA-CT",LVN,8/6/22,8/6/22,NaN,NaN,NaN,,NaN,17631861264
22,63669ca17ccb0c3b06f96785,"Dallas-Fort Worth-Arlington, TX",RN,11/5/22,11/5/22,11/13/22,NaN,NaN,,NaN,18564690861
23,6335c00b9603d78083e59772,"Chicago-Naperville-Elgin, IL-IN-WI",CNA,9/29/22,10/8/22,10/8/22,10/8/22,10/24/22,13,NaN,17631861264
24,634cbf367ccb0c3b060894d5,"Providence-Warwick, RI-MA",CNA,10/17/22,12/4/22,NaN,NaN,NaN,,NaN,17631861264
25,62cd10fd3ee0b401be8f39bf,"Portland-Vancouver-Hillsboro, OR-WA",LVN,7/12/22,7/12/22,NaN,NaN,NaN,,NaN,17673624632
26,636cc6657ccb0c3b063196aa,"Portland-Vancouver-Hillsboro, OR-WA",RN,11/10/22,11/10/22,NaN,NaN,NaN,,NaN,18563342133
27,62564906cd688101aed6d496,"Deltona-Daytona Beach-Ormond Beach, FL",CNA,4/13/22,NaN,NaN,NaN,NaN,,NaN,13743509691
28,6300e92455d71301b7e088bc,"Chicago-Naperville-Elgin, IL-IN-WI",CNA,8/20/22,8/20/22,NaN,NaN,NaN,,62bb71c8976ef101be0c6e8b,17631861264
29,636f13647ccb0c3b06e69dd5,"Chicago-Naperville-Elgin, IL-IN-WI",RN,11/12/22,11/12/22,NaN,NaN,NaN,,NaN,18530777721
...,...,...,...,...,...,...,...,...,...,...,...
67287,625ed3aa81fd7901b1c6861f,"Baton Rouge, LA",CNA,4/19/22,4/19/22,7/13/22,NaN,NaN,,NaN,na
67288,61db8f73891a9a018ac17d69,"Dallas-Fort Worth-Arlington, TX",LVN,1/10/22,1/13/22,1/27/22,NaN,NaN,,NaN,na
67289,631a84129603d78083c5b5c1,"Little Rock-North Little Rock-Conway, AR",RN,9/9/22,9/9/22,NaN,NaN,NaN,,NaN,na
67290,6341cac1fb9a096b9e0bb046,"Cleveland-Elyria, OH",RN,10/8/22,10/9/22,NaN,NaN,NaN,,NaN,15645881423
67291,625a4dbb8fd22d01ac345e2e,"Topeka, KS",CNA,4/16/22,4/16/22,NaN,NaN,NaN,,NaN,SO_Corvallis_CNA
67292,6336532e9603d780838b0383,"Janesville-Beloit, WI",CNA,9/30/22,9/30/22,10/1/22,10/4/22,10/7/22,30,6182b8b76d4880018089fbc4,na
67293,637ef3713540dfe4c20f5dbc,"Birmingham-Hoover, AL",RN,11/24/22,NaN,NaN,NaN,NaN,,NaN,18538702788
67294,620e81aefefb4a071ed34d98,"Dallas-Fort Worth-Arlington, TX",RN,2/17/22,2/17/22,NaN,NaN,NaN,,NaN,na
67295,62aea85ffdee9601c01ac4fe,"New York-Newark-Jersey City, NY-NJ-PA",RN,6/19/22,6/19/22,NaN,NaN,NaN,,NaN,na
67296,6302514ef7eac001bd58fd59,"Vineland-Bridgeton, NJ",LVN,8/21/22,9/8/22,9/8/22,NaN,NaN,,623ceb27be04a701ac573e72,13743509691
67297,62f6b7b938b5d301b64b45d7,"Abilene, TX",CNA,8/12/22,8/12/22,NaN,NaN,NaN,,NaN,na
67298,630e3c1c071be001bbc9a9b5,"Lafayette, LA",CNA,8/30/22,NaN,NaN,NaN,NaN,,NaN,na
67299,621e0e34d2177101acb4b1d4,"Tallahassee, FL",CNA,3/1/22,3/1/22,NaN,NaN,NaN,,NaN,na
67300,61e57e42884c05018aa6dd96,"Cookeville, TN",LVN,1/17/22,1/17/22,NaN,NaN,NaN,,NaN,na
67301,635ffea17ccb0c3b0625642a,"Killeen-Temple, TX",RN,10/31/22,10/31/22,NaN,NaN,NaN,,NaN,na
67302,6353a7ae7ccb0c3b06b7a911,"Youngstown-Warren-Boardman, OH-PA",CNA,10/22/22,10/31/22,10/24/22,10/25/22,10/25/22,23,628da8885fc00601bd54dbed,na
67303,6370288d7ccb0c3b0612ec76,"Hartford-East Hartford-Middletown, CT",CNA,11/12/22,11/12/22,NaN,NaN,NaN,,635ea4747ccb0c3b068379a8,na
67304,630327f77bff6901b3f655b7,"St. Louis, MO-IL",LVN,8/22/22,8/22/22,9/14/22,11/4/22,NaN,,62f8bcbee326d601b71ec249,na
67305,62529a94c81e5201b03385b1,"Los Angeles-Long Beach-Anaheim, CA",CNA,4/10/22,7/12/22,7/22/22,7/22/22,7/24/22,11,62ccbe7bd0f4e801c0233212,na
67306,636599fd7ccb0c3b06475c7e,"Riverside-San Bernardino-Ontario, CA",LVN,11/4/22,11/4/22,11/29/22,11/29/22,11/29/22,24,NaN,15645881423
67307,624ceb0cf7bfa501ab6ce83c,"Columbus, OH",LVN,4/6/22,4/6/22,NaN,NaN,NaN,,NaN,na
67308,628eacd3f5e55001c184da95,"Hartford-East Hartford-Middletown, CT",LVN,5/25/22,8/31/22,8/31/22,8/31/22,9/1/22,20,NaN,15645881423
67309,62028c6541601401a9cbfc7f,"New York-Newark-Jersey City, NY-NJ-PA",CNA,2/8/22,2/8/22,NaN,NaN,NaN,,NaN,na
67310,62250caff4f44601a8e48878,"Cleveland-Elyria, OH",CNA,3/6/22,3/6/22,3/22/22,3/31/22,4/3/22,10,NaN,na
67311,62a5324fa8bbaa5419d8e2d1,"Nashville-Davidson--Murfreesboro--Franklin, TN",LVN,6/12/22,6/12/22,7/1/22,7/30/22,8/9/22,4,62685dd8f9e3ce01b8e50347,na
67312,61eed384dccafb018aad8bd6,"Cleveland-Elyria, OH",CNA,1/24/22,NaN,NaN,NaN,NaN,,NaN,na
67313,621fe2d297714501afbf0c9c,"Lufkin, TX",CNA,3/2/22,3/2/22,3/15/22,3/17/22,7/17/22,10,NaN,na
67314,6246682ef3f9e901b2ebcad3,"Washington-Arlington-Alexandria, DC-VA-MD-WV",RN,4/1/22,4/1/22,NaN,NaN,NaN,,NaN,na
67315,62159ce57eb41b01a79eca52,"Atlanta-Sandy Springs-Alpharetta, GA",CNA,2/23/22,3/1/22,3/2/22,3/3/22,3/4/22,19,NaN,na
67316,62630ff729c36201acbc9890,"Charleston-North Charleston, SC",RN,4/22/22,4/22/22,NaN,NaN,NaN,,NaN,na

In [3]:
# Store number of accounts
tot_accounts = hcp['HCP_ID'].count()
tot_accounts

67317

In [4]:
# Find number of unique referrers
unique_referrers = hcp['REFERRER'].value_counts().count()
unique_referrers

6151

In [5]:
# Replace empty referrers with 'None' for easier filtering later
hcp['REFERRER'].fillna('None', inplace=True)
hcp.head()

,HCP_ID,MSA,QUALIFICATION,CREATED_AT,LICENSE_REVIEWED,ONBOARD_AT,FIRST_CLAIM_TIME,FIRST_SHIFT_TIME,LIFETIME_SHIFTS,REFERRER,CAMPAIGN_KEY
0,633be91bfb9a096b9e4d3a82,"Wichita, KS",CNA,10/5/22,10/13/22,10/29/22,11/1/22,11/21/22,2,None,17631861264
1,632d018f9603d7808339a6bb,"Tampa-St. Petersburg-Clearwater, FL",CNA,9/23/22,NaN,NaN,NaN,NaN,,None,17631861264
2,6361931a7ccb0c3b06407c33,"Scranton--Wilkes-Barre, PA",RN,11/1/22,11/1/22,NaN,NaN,NaN,,None,18530777721
3,62feb63c88ad3001baf3108f,"St. Louis, MO-IL",CNA,8/18/22,8/18/22,NaN,NaN,NaN,,None,17631861264
4,63841ac43540dfe4c2ec0996,"Cincinnati, OH-KY-IN",CNA,11/28/22,11/28/22,NaN,NaN,NaN,,None,18530777721

In [6]:
# Convert lifetime_shifts to numeric for calculations later
hcp.LIFETIME_SHIFTS = pd.to_numeric(hcp['LIFETIME_SHIFTS'], errors='coerce')
hcp.dtypes

HCP_ID               object
MSA                  object
QUALIFICATION        object
CREATED_AT           object
LICENSE_REVIEWED     object
ONBOARD_AT           object
FIRST_CLAIM_TIME     object
FIRST_SHIFT_TIME     object
LIFETIME_SHIFTS     float64
REFERRER             object
CAMPAIGN_KEY         object
dtype: object

In [7]:
# Remove accounts without a shift
working_hcp = pd.read_csv(data2)
working_hcp.dropna(subset = ['FIRST_SHIFT_TIME'], inplace=True)

In [8]:
# Store number of accounts that have worked
tot_working_accounts = working_hcp['HCP_ID'].count()
tot_working_accounts

16350

In [9]:
# Remove accounts without a referral
referral_accounts = pd.read_csv(data2)
referral_accounts.dropna(subset = ['REFERRER'], inplace=True)

In [10]:
# Store number of referrals
tot_refers = referral_accounts['REFERRER'].count()
tot_refers

9167

In [11]:
# Remove referral accounts that never activated
referral_accounts.dropna(subset = ['FIRST_SHIFT_TIME'], inplace=True)

In [12]:
# Store number of converted referrals
tot_conv_refers = referral_accounts['REFERRER'].count()
tot_conv_refers

6541

In [13]:
# Conversion rate of references
conv_rate = tot_conv_refers / tot_refers
conv_rate

0.7135376895385622

In [14]:
# Percent of active accounts who cliamed reference
ref_workers = tot_conv_refers / tot_working_accounts
ref_workers

0.4000611620795107

In [15]:
# Percent of workers who referred others
referrer_workers = unique_referrers / tot_working_accounts
referrer_workers

0.3762079510703364

# Lifetime Return of Referral vs. Non-referral Acquisitions

In [16]:
# Check that there are only 3 possible qualifications
hcp['QUALIFICATION'].value_counts()

CNA    39499
LVN    13939
RN     13879
Name: QUALIFICATION, dtype: int64

In [17]:
# Find only active accounts made without a referral
nonref_active = hcp.loc[hcp['REFERRER']=='None'].copy()
nonref_active.dropna(subset = ['FIRST_SHIFT_TIME'], inplace=True)
nonref_active = nonref_active.reset_index(drop=True)
nonref_active.head()

,HCP_ID,MSA,QUALIFICATION,CREATED_AT,LICENSE_REVIEWED,ONBOARD_AT,FIRST_CLAIM_TIME,FIRST_SHIFT_TIME,LIFETIME_SHIFTS,REFERRER,CAMPAIGN_KEY
0,633be91bfb9a096b9e4d3a82,"Wichita, KS",CNA,10/5/22,10/13/22,10/29/22,11/1/22,11/21/22,2.0,None,17631861264
1,63309d8c9603d780838a78aa,"Atlanta-Sandy Springs-Alpharetta, GA",LVN,9/25/22,9/26/22,9/26/22,10/10/22,10/16/22,23.0,None,17631861264
2,61e75e34dfb86b018a0d7cf7,"Minneapolis-St. Paul-Bloomington, MN-WI",CNA,1/19/22,5/24/22,5/24/22,6/1/22,6/3/22,49.0,None,15595984274
3,6335c00b9603d78083e59772,"Chicago-Naperville-Elgin, IL-IN-WI",CNA,9/29/22,10/8/22,10/8/22,10/8/22,10/24/22,13.0,None,17631861264
4,628e47fca9b31401c35619d2,"Dallas-Fort Worth-Arlington, TX",RN,5/25/22,5/25/22,5/27/22,8/13/22,8/13/22,8.0,None,18530777721

In [18]:
# Calculate avg lifetime value of non-referral active accounts
nraa_profit = 0
nraa_hcp = nonref_active['HCP_ID'].count()

cna_rate = 5
lvn_rate = 10
rn_rate = 15

for x in np.arange(nraa_hcp):
    if nonref_active.iloc[x,2] == 'CNA':
        nraa_profit += nonref_active.iloc[x,8] * cna_rate
    elif nonref_active.iloc[x,2] == 'LVN':
        nraa_profit += nonref_active.iloc[x,8] * lvn_rate
    elif nonref_active.iloc[x,2] == 'RN':
        nraa_profit += nonref_active.iloc[x,8] * rn_rate

avg_nr_profit = nraa_profit / nraa_hcp
avg_nr_shifts = nonref_active['LIFETIME_SHIFTS'].mean()
print('Average profits from nonreferred workers: ' + str(avg_nr_profit))
print('Average shifts for nonreferred workers: ' + str(avg_nr_shifts))

Average profits from nonreferred workers: 129.01620960342544
Average shifts for nonreferred workers: 17.093383627281067

In [19]:
# Find only active accounts made WITH a referral
ref_active = hcp.loc[hcp['REFERRER']!='None'].copy()
ref_active.dropna(subset = ['FIRST_SHIFT_TIME'], inplace=True)
ref_active = ref_active.reset_index(drop=True)
ref_active.head()

,HCP_ID,MSA,QUALIFICATION,CREATED_AT,LICENSE_REVIEWED,ONBOARD_AT,FIRST_CLAIM_TIME,FIRST_SHIFT_TIME,LIFETIME_SHIFTS,REFERRER,CAMPAIGN_KEY
0,62b2499e52b98c01b901cd9d,"Chicago-Naperville-Elgin, IL-IN-WI",RN,6/21/22,6/22/22,6/22/22,6/29/22,6/29/22,2.0,62a48ae5691b0409a3c93073,16802693037
1,625122a4a2d1ff01b003e0ec,"Youngstown-Warren-Boardman, OH-PA",CNA,4/9/22,8/20/22,8/21/22,8/22/22,8/24/22,33.0,626d668f26a30901c5af9741,17631861264
2,632376bb9603d78083c59bf1,"Portland-Vancouver-Hillsboro, OR-WA",CNA,9/15/22,9/15/22,9/30/22,10/4/22,10/4/22,22.0,62edf0aa44b0f101b46c89ab,17944426072
3,631b401f9603d78083193e28,"Los Angeles-Long Beach-Anaheim, CA",CNA,9/13/22,9/13/22,9/23/22,9/27/22,10/1/22,6.0,61c60d19b8bfc80180d64eac,17631861264
4,63773e1d7ccb0c3b06646f20,"Providence-Warwick, RI-MA",CNA,11/18/22,11/18/22,11/18/22,11/22/22,11/24/22,20.0,63322f689603d780835ab925,18576997082

In [20]:
# Calculate avg lifetime value of referral active accounts
raa_profit = 0
raa_hcp = ref_active['HCP_ID'].count()

for x in np.arange(raa_hcp):
    if ref_active.iloc[x,2] == 'CNA':
        raa_profit += ref_active.iloc[x,8] * cna_rate
    elif ref_active.iloc[x,2] == 'LVN':
        raa_profit += ref_active.iloc[x,8] * lvn_rate
    elif ref_active.iloc[x,2] == 'RN':
        raa_profit += ref_active.iloc[x,8] * rn_rate

avg_ref_profit = raa_profit / raa_hcp
avg_ref_shifts = ref_active['LIFETIME_SHIFTS'].mean()
print('Average profits from referred workers: ' + str(avg_ref_profit))
print('Average shifts for referred workers: ' + str(avg_ref_shifts))

Average profits from referred workers: 111.60525913468888
Average shifts for referred workers: 16.250267543189114